.coursedetail-container {
  cursor: pointer;
  border: 2px solid #ccc;
  background-color: white;
}

.coursedetail-container:hover {
  border: 2px solid black;
}

.time-slot {
  margin-left: "1%";
  border: 0.5px solid #ccc;
}

.time-slot:hover {
  margin-left: "1%";
  border: 0.5px solid grey;
}

.time-slot-selected {
  margin-left: "1%";
  border: 0.5px solid #ccc;
  background-color: lightgrey;
}

.time-slot-selected:hover {
  margin-left: "1%";
  border: 0.5px solid black;
  background-color: lightgrey;
}
